.login_div1 , .login_div2
{
    background: white;
    padding: 10px;
    float: none;
    border-radius: 15px;
}

body{
    background-image: url("Background.jfif");
    background-position: center;
    background-size: cover;
}

h1{
    color:midnightblue;
    text-decoration: underline;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
}

h2{
    color:goldenrod;
}

#Login_button{
    background-color:teal;
}

